
/* Reset default styles that might interfere with our design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* Inter font for the entire app */
body {
  font-family: 'Inter', sans-serif;
}
